html,
body {
  overflow: hidden;
}

html,
body,
#app {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial,
    sans-serif;
}

#top-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}
@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #515a6e, 1.8em -1.8em 0 0em rgba(81, 90, 110, 0.2),
      2.5em 0em 0 0em rgba(81, 90, 110, 0.2), 1.75em 1.75em 0 0em rgba(81, 90, 110, 0.2),
      0em 2.5em 0 0em rgba(81, 90, 110, 0.2), -1.8em 1.8em 0 0em rgba(81, 90, 110, 0.2),
      -2.6em 0em 0 0em rgba(81, 90, 110, 0.5), -1.8em -1.8em 0 0em rgba(81, 90, 110, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(81, 90, 110, 0.7), 1.8em -1.8em 0 0em #515a6e,
      2.5em 0em 0 0em rgba(81, 90, 110, 0.2), 1.75em 1.75em 0 0em rgba(81, 90, 110, 0.2),
      0em 2.5em 0 0em rgba(81, 90, 110, 0.2), -1.8em 1.8em 0 0em rgba(81, 90, 110, 0.2),
      -2.6em 0em 0 0em rgba(81, 90, 110, 0.2), -1.8em -1.8em 0 0em rgba(81, 90, 110, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(81, 90, 110, 0.5), 1.8em -1.8em 0 0em rgba(81, 90, 110, 0.7),
      2.5em 0em 0 0em #515a6e, 1.75em 1.75em 0 0em rgba(81, 90, 110, 0.2), 0em 2.5em 0 0em rgba(81, 90, 110, 0.2),
      -1.8em 1.8em 0 0em rgba(81, 90, 110, 0.2), -2.6em 0em 0 0em rgba(81, 90, 110, 0.2),
      -1.8em -1.8em 0 0em rgba(81, 90, 110, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(81, 90, 110, 0.2), 1.8em -1.8em 0 0em rgba(81, 90, 110, 0.5),
      2.5em 0em 0 0em rgba(81, 90, 110, 0.7), 1.75em 1.75em 0 0em #515a6e, 0em 2.5em 0 0em rgba(81, 90, 110, 0.2),
      -1.8em 1.8em 0 0em rgba(81, 90, 110, 0.2), -2.6em 0em 0 0em rgba(81, 90, 110, 0.2),
      -1.8em -1.8em 0 0em rgba(81, 90, 110, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(81, 90, 110, 0.2), 1.8em -1.8em 0 0em rgba(81, 90, 110, 0.2),
      2.5em 0em 0 0em rgba(81, 90, 110, 0.5), 1.75em 1.75em 0 0em rgba(81, 90, 110, 0.7), 0em 2.5em 0 0em #515a6e,
      -1.8em 1.8em 0 0em rgba(81, 90, 110, 0.2), -2.6em 0em 0 0em rgba(81, 90, 110, 0.2),
      -1.8em -1.8em 0 0em rgba(81, 90, 110, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(81, 90, 110, 0.2), 1.8em -1.8em 0 0em rgba(81, 90, 110, 0.2),
      2.5em 0em 0 0em rgba(81, 90, 110, 0.2), 1.75em 1.75em 0 0em rgba(81, 90, 110, 0.5),
      0em 2.5em 0 0em rgba(81, 90, 110, 0.7), -1.8em 1.8em 0 0em #515a6e, -2.6em 0em 0 0em rgba(81, 90, 110, 0.2),
      -1.8em -1.8em 0 0em rgba(81, 90, 110, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(81, 90, 110, 0.2), 1.8em -1.8em 0 0em rgba(81, 90, 110, 0.2),
      2.5em 0em 0 0em rgba(81, 90, 110, 0.2), 1.75em 1.75em 0 0em rgba(81, 90, 110, 0.2),
      0em 2.5em 0 0em rgba(81, 90, 110, 0.5), -1.8em 1.8em 0 0em rgba(81, 90, 110, 0.7), -2.6em 0em 0 0em #515a6e,
      -1.8em -1.8em 0 0em rgba(81, 90, 110, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(81, 90, 110, 0.2), 1.8em -1.8em 0 0em rgba(81, 90, 110, 0.2),
      2.5em 0em 0 0em rgba(81, 90, 110, 0.2), 1.75em 1.75em 0 0em rgba(81, 90, 110, 0.2),
      0em 2.5em 0 0em rgba(81, 90, 110, 0.2), -1.8em 1.8em 0 0em rgba(81, 90, 110, 0.5),
      -2.6em 0em 0 0em rgba(81, 90, 110, 0.7), -1.8em -1.8em 0 0em #515a6e;
  }
}
